# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/

# Django
*.log
*.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# Document uploads
pdfs\

# load-db.bat
# dump-db.bat
